<!DOCTYPE html>
<html data-theme="light" lang="{{ page.lang | default: site.lang | default: "nl" }}">

{% if page.lang == "en" %}
  {%- include en/head-en.html -%}
{% else %}
  {%- include nl/head.html -%}
{% endif %}
<body>

    {% if page.lang == "en" %}
        {%- include en/header.html -%}
    {% else %}
        {%- include nl/header.html -%}
    {% endif %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper py-10">
            {{ content }}
        </div>
    </main>
    {% if page.lang == "en" %}
        {%- include en/footer.html -%}
    {% else %}
        {%- include nl/footer.html -%}
    {% endif %}

</body>

</html>